[package]
name = "narui"
version = "0.1.0"
authors = ["Jaro Habiger <jarohabiger@googlemail.com>"]
edition = "2018"

[lib]
name = "narui"

[dependencies]
narui_macros = { path = "narui_macros" }
lyon = "0.17.5"
stretch = { git = "https://github.com/vislyhq/stretch" }
winit = "0.25.0"
anyhow = "1.0.40"
lazy_static = "1.4.0"
vulkano = { git = "https://github.com/vulkano-rs/vulkano" }
vulkano-shaders = { git = "https://github.com/vulkano-rs/vulkano" }
vulkano-win = { git = "https://github.com/vulkano-rs/vulkano" }
derivative = "2.2.0"
glyph_brush = "0.7.2"
notosans = "0.1.0"
palette = "0.5.0"
hashbrown = "0.11.2"
itertools = "0.10.0"
impls = "1.0.3"
parking_lot = "0.11.1"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = "0.3.2"

[profile.release]
debug = true
